.wrapper{
    background:#01050b;
    /* color: white; */
    color:#8892b0;
}


.hero {
   
    min-height: 60vh;
}

.topNav img {
position: relative;
left: -20px;
}


.topNav .toggle-bar{
    background: rgba(222, 190, 8, 0.805);
    color: rgba(11, 196, 224, 0.947);

}


.title {
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
    margin-top: 2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 3rem;
}

.title span {
    border-bottom: 5px solid rgba(31, 225, 219, 0.707);
    padding: 0.5rem 0.2rem;
}


.icons {
    margin-top: 5%;
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   padding: 5%;
}
.icons a:hover{
    background-color: aqua;
}

.icons div {
    margin-bottom: 2rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons i {
    font-size: 4rem;
}






.contact i {
    font-size: 3rem;
}


#arrow {
    position: fixed;
    bottom: 80px;
    right: 30px;
    font-size: 2rem;
    background: #d0d1d619;
    border-radius: 20px;
    color: rgba(19, 211, 228, 0.789);
    border-color: #02d5ca;
    border-style: solid;
}


.main-layout{
    min-height: 65vh;
}
