.wrapper{
    background:#01050b;
    /* color: white; */
    color:#8892b0;
}


.hero {
   
    min-height: 60vh;
}

.topNav img {
position: relative;
left: -20px;

}
.topNav .toggle-bar{
    background: rgb(179, 162, 15);
}


.title {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin-top: 2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 3rem;
}

.title span {
    border-bottom: 5px solid rgba(31, 225, 219, 0.707);
    padding: 0.5rem 0.2rem;
}


.icons {
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}

.icons div {
    margin-bottom: 2rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons i {
    font-size: 4rem;
}






.contact i {
    font-size: 3rem;
}


#arrow {
    position: fixed;
    bottom: 80px;
    right: 30px;
    font-size: 3rem;
    background: #3051b26a;
    border-radius: 20px;
    color: rgba(245, 245, 245, 0.359);
}




.main-layout{
    min-height: 68vh;
}

